.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.content h1{
    color: #404E5C;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.buttons .btn{
    padding: 5px 10px;
    background: transparent;
    width: 75px;
    font-weight: bold;
    color: #404E5C;
    border: 3px solid red;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
}

.buttons .btn:hover{
    background: red;
    color: white;
}

.buttons .go-back{
    padding: 5px 10px;
    background: transparent;
    width: 120px;
    font-weight: bold;
    color: #404E5C;
    border: 3px solid #2fff00;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
}

.buttons .go-back:hover{
    background: #2fff00;
    color: white;
}