{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'styles/create.css' %}">
    <div class="content">
        <h1>Създаване на прожекция</h1>
        <form class="form" method="post">
            {% for field in form %}
                <div class="input-box">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <button class="btn">Създай</button>
        </form>
    </div>
{% endblock %}



